body{
    font-family: 'Oxygen', sans-serif;
}
.menu-line{
    border-bottom-style:groove;
    /* border-color: #4e74ea; */
    border-color: #4e74ea;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.titulo{
    color:#4e74ea;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    font-size: 11px;
    padding-top: 15px;
    padding-bottom: 14px;
    color: white;
    text-align: center;
    /* background-color: black; */
    background-color: #8f9699;   
}

.hr-footer{
    background-color:white;
    width:50%;
    text-align: center;
}
.pre-footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    margin-bottom: 0px;
    background-color:#4e74ea;
    color: white;
    text-align: center;
}
.fo-contacto{
    margin-bottom: 0px;
}
.item-contact{
    padding-right: 10px;
    padding-left: 10px;
}
.icono-espacio{
   /* padding-left: 30px;*/
    padding-right: 7px;
}
.actual{
    border-bottom: 1px groove  #4e74ea;
   
}

.subtitulo{
    font-size: 18px;
    font-weight: bold;
}
.comp-contacto{
    max-width: 70%;
    margin: auto;
    margin-top: 30px;

}
.separador-contcto{
    background-color:#4e74ea;
    width:50%;
    text-align: center;
}

.i-color{
    color: #4e74ea;
}
.tarjeta{
    border-color:  #4e74ea;
}
.borde-servicios{
    border-left: 1px groove #4e74ea;  
}
.servicio-h:hover{
background-color: gray;
}
.color-fondo {
    background-color: rgba(63, 61, 61, 0.445);
}

.titulo-flip{
    color:#4e74ea;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.flip-borde{
    /* 1px groove  #4e74ea; */
    border: 1px double  #4e74ea;
}
.txt.c{
    text-align: center;
}

@media (max-width: 768px) {
    .f-lugar{
        display: block;
        margin-top: 15px;
    }
    .carousel-caption {
        bottom: 30%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .comp-contacto {
        max-width: 100%;

    }
}

@media (max-width: 576px) {
    .carousel-caption {
        bottom: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .carousel-caption h2 {
        font-size: 29px;
        text-shadow: 2px 2px 4px #000000;
    }
    .txt-banner{
        font-size: 12px;
        
    }

    .borde-servicios {
        border-left: none;
    }
    .m-ocultar{
        display: none;
    }
    .text-center-m{
        text-align: center;
    }    

 }

 .txt-just {
    text-align: justify;
    color: #8f9699;
 }
 .txt-gris {
     color: #8f9699;
 }
 .trasparencia{
     background-color: rgba(0, 0, 0, 0.5);
     margin: auto;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .ancho-1{
    max-width: 235px;
 }
 .ancho-2{
    max-width: 260px;
 }
 .ancho-3{
    max-width: 500px;
 }


 .txt-trasparencia{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}




